@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <environment exclude="Development">
        <div id="cookieConsent" class="notification is-warning">
            Use this space to summarize your privacy and cookie use policy.
            <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
            <button type="button" class="button" data-cookie-string="@cookieString">Accept</button>
        </div>
        <script>
            (function () {
                document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                    console.log(el.target.dataset.cookieString);
                    document.cookie = el.target.dataset.cookieString;
                    console.log(document.cookie);
                    document.querySelector("#cookieConsent").classList.add("is-hidden");
                }, false);
            })();
        </script>
    </environment>
}
