@model Inventory.Web.Models.Room

@{
    ViewData["Title"] = "Edit";
}

<h2 class="title">Edit @Model.Id</h2>

<div class="columns">
    <div class="column is-half">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="field">
                <label asp-for="Name" class="label"></label>
                <div class="control">
                    <input asp-for="Name" class="input" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="field">
                <label asp-for="Description" class="label"></label>
                <div class="control">
                    <textarea asp-for="Description" class="textarea"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="field">
                <input type="submit" value="Save" class="button is-link" />
            </div>
        </form>
    </div>
</div>
